=btn($is-grad, $is-grad-text, $is-grad-border)
	cursor: pointer
	+fz-small
	outline-offset: 0
	outline: none
	border-radius: 10px

	@if $is-grad 		
		+grad($is-grad-text, $is-grad-border)
		&:hover
			-webkit-text-fill-color: white
			color: white
			+make-gradient(background, 87.8deg, $comb)
	@else
		border: 1px solid $non-akcent
		color: $text
		&:hover
			background: $non-akcent
			color: white