=placeholder
	&::-webkit-input-placeholder
		@content
	&:-moz-placeholder
		@content
	&::-moz-placeholder
		@content
	&:-ms-input-placeholder
		@content
=input
	background: none
	display: inline-block
	max-width: 100%
	border: 1px solid $non-akcent
	border-radius: 10px
	padding: 11px 25px 
	outline-offset: 0
	outline: none
	color: $text
	&
		+placeholder
			color: $input