=make-gradient($type, $direction, $list)
	#{$type}: -webkit-linear-gradient($direction, $list)
	#{$type}: -moz-linear-gradient($direction, $list)
	#{$type}: -o-linear-gradient($direction, $list)
	#{$type}: linear-gradient($direction, $list)
=grad-text	
	+make-gradient(background, to right, $comb)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

=simple-transition($param: all, $sec: .25s, $anim: ease-in-out)
	-webkit-transition: $param $sec $anim
	-o-transition: $param $sec $anim
	-moz-transition: $param $sec $anim
	transition: $param $sec $anim