=list($type)
	@if($type == 'leg')
		&
			color: inherit
		& li::before 
			content: url(../../images/icons/legs.svg)
			margin-right: 15px
	@else if ($type == 'grad')
		& li::before
			+grad-text
	@else
		&	
			color: inherit
	@if($type != 'leg')
		&
			counter-reset: section	
		& li::before
			counter-increment: section
			content: counters(section, '.')
			margin-right: 10px


