@import 'partials/imports'
@media screen and (min-width: 20px)
	.wrapper
		padding: 0 15px
		max-width: 530px
	.mixed, .cats-box, .popular-articles, .commentmetadata
		+flex-wrap
	.logo-box, .footer .logo-box, .footer-email, .menu
		width: unset
	.main-photo, .article-item .img-box
		height: unset
	.main-article__title, .article-short-text,  .footer .logo-box, .footer-email, .menu
		width: 100%
	.header, .cats-top, .cats-box
		margin-bottom: 0
	.logo-box, .footer-email, .menu
		text-align: center
	.show-questions, .show-more-articles
		max-width: 290px
		width: 100%
	.site-descr
		display: block
		margin: 0 auto 20px auto
		+fz-small
	.main-article__title
		margin-bottom: 20px
	.urgent-articles-box
		padding-top: 0
	.urgent-article
		font-size: 18px
		line-height: 23.62px
	.cat-img, .ques-box
		margin-bottom: 10px
	.ques-right
		padding-top: 25px
		text-align: center
		h2 
			margin-bottom: 10px
		p
			margin-bottom: 25px
	.footer-wrapper
		max-width: 485px
		margin: 0 auto
	.copy-text
		max-width: 290px
		margin: 10px auto 15px
	.footer-mail
		display: block
		text-align: center

	/* article */
	.article-page
		font-size: 22px
		line-height: 26.4px
	.comment-author
		position: absolute
		top: 0 
		left: 0

	/* questions */
	.banner
		background-size: auto 217px
		background-position: center bottom
		padding: 30px 0 220px
	.forms
		padding: 35px 0
	.ques-search-form
		margin-bottom: 30px
	.ask-ques-form
		input, textarea
			width: 100%
	.ques-answer 
		margin-top: 30px
		div
			padding: 10px 20px 
	.ques-link
		padding: 15px 20px 50px 


@media screen and (max-width: 724px)
	.header
		+flex-column
	.cat-item, .article-item, .all-articles-box .article-item, .main-article
		margin-right: 0
	.cat-item, .article-item, .all-articles-box .article-item
		width: 100%
	.cats-top
		+flex-wrap
	.header-form 
		input
			height: 57px

	/* article */
	ul	li
		&:before 
			display: block
	.read-also, .comment-input-box
		+flex-column
	.comment-form__input
		width: 100%
	.commenter-name, .comment-time
		+order(-1)
	.reply
		position: absolute
		bottom: -30px
		right: 0
	.commentmetadata
		margin-bottom: 60px
	.commenter-name,.comment-time
		display: block
		padding-left: 100px
	.commenter-name
		margin: 15px 0 10px
	.comment-time
		width: 100%
		margin-bottom: 20px
@media screen and (min-width: 725px)
	.wrapper
		max-width: 100%
	.logo-box
		text-align: left
	.site-descr
		margin-bottom: 0
	.main-article
		width: 48%
	.urgent-articles-box
		max-width: 46%
	.cat-item, .article-item
		margin-right: 20px
		width: 31%
		margin-bottom: 30px
		&:nth-child(3n)
			margin-right: 0
	.ques-left
		background-size: contain
		width: 100%
	.ques-right
		margin: 0 auto
		width: 600px
	.img-box
		height: 196px
	.all-articles
		+justify-between
		.article-item
			width: 47%
		.img-box
			height: 165px
	.footer .form 
		max-width: 100%
	.footer .logo-box
		text-align: center

	/* article */
	.content-grad
		right: 15px
	.ra-article
		width: 48%
	.ra-article__img-box
		height: 164px
		overflow: hidden
		border-radius: 10px
		margin-bottom: 30px
	.ra-article__title
	.submit-grad
		width: 283px
	.comment-form__input
		width: 50%
	.comment-input-box input[type="text"]
		margin-right: 8px
	.commentmetadata
		padding-left: 110px 
	.comment-time
		margin-right: 20px
	.comments-box
		max-width: 650px

	/* questions */
	.banner
		background-size: auto 95%
		background-position: right bottom
		padding: 50px 0
	.banner__title 
		width: 295px
	.banner__text
		width: 50%
	.ques-search-form
		width: 486px
		margin-left: auto
		margin-right: auto
	.ask-ques-form
		.ask-ques-email, .ques-answer-btn
			width: 230px
	.ques-answer 
		position: fixed
		bottom: 60px
		right: 20px
		z-index: 2
		width: 300px
	.ques-link
		max-width: 945px
		padding: 15px 15% 15px 30px
		&:after
			left: 90%
			top: calc(50% - 16px)

@media screen and (min-width: 819px)
	/* questions */
	.ask-ques-form
		max-width: 731px
	.banner
		padding-left: 40px
@media screen and (max-width: 919px)
	.all-articles
		&:nth-child(2n)
			margin-right: 0
	.ques-box
		+flex-wrap
	.footer-wrapper
		+flex-wrap
	.footer
		.form
			+order(1)
			margin: 20px auto 
		.menu
			+order(3)
		.footer-email
			+order(2)

	/* article */
	.d-none
		display: none!important
	.content-hidden
		max-width: 400px
		width: 100%
		height: 100%
		padding: 40px 15px 15px
		border-radius: 10px
		background: #ffffff
		position: fixed
		right: 0
		bottom: 0
		z-index: 3
	.content-btn
		+btn(true, true, false)
		padding: 5px
		+fz-smaller
	.content-close-btn
		background: url(../images/icons/close.png) center no-repeat
		width: 20px
		height: 20px
		position: absolute
		right: 15px
		top: 10px

@media screen and (min-width: 920px)

	.all-articles-box .article-item
		width: 255px
		margin-right: 30px
		&:nth-child(4n)
			margin-right: 0
	.footer-wrapper
		max-width: 100%
	.footer .logo-box
		width: 165px
		text-align: left
	.footer-email, .menu
		width: 260px
	.footer .logo-box, .footer-email, .menu
		margin-right: 30px
	.footer .form
		width: 360px
	.footer .logo-box
		-ms-flex-negative: 0
		flex-shrink: 0
	.ques-left
		margin-right: 30px
		max-width: 653px
	.ques-right
		padding-top: 20px

	/* article */
	.content-grad, .content-close-btn
		display: none
	.article-box
		+d-flex
	.content-hidden
		width: 360px
		padding-top: 30px
		margin-left: 30px
	.article-bottom, .article
		max-width: 750px
	.comment-form-box
		width: 557px
	.comment-input-box input[type="text"]
		width: 235px
	.comment-input-box input[type="email"]
		width: 100%

	/* questions */
	.ques-link
		padding: 15px 17% 15px 100px
		&:after 
			left: 87%
	.ques-answer
		width: 262px

@media screen and (min-width: 1170px)
	.wrapper
		max-width: 1140px
		padding: 0
	.footer-mail
		display: initial
	.ques-right
		text-align: left
		padding-top: 60px
		h2, p 
			margin-bottom: 10px
	.cats-top, .cats-box
		margin-bottom: 30px
	.cat-item, .article-item
		margin-right: 30px
		&:nth-child(3n)
			margin-right: 0

	/* questions */
	.banner
		padding: 143px 0 143px 100px
	.banner__title	
		width: unset
	.banner__text
		width: 457px


@media screen and (max-width: 1169px)
	.cat-left
		text-align: center
		+order(1)
	.cat-item
		+flex-column
	.cat-extra-img-box
		display: none
	.cats-bottom
		+flex-wrap