<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Такой странице не существует</title>
	<link rel="stylesheet" href="css/base/reset.css">
	<link rel="stylesheet" href="css/base/normalize.css">
	<link rel="stylesheet" href="css/base/basic.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/media.css">
	<script src="scripts/objectFitPolyfill.min.js"></script>
	<script src="scripts/app.js"></script>
</head>
<body>
	<div class="404-page">
		<div class="wrapper">
			<header class="header flex">
				<div class="logo-box">
					<a href="index.html">
						<img src="images/logo.svg" alt="нет волосам">
					</a>
					<span class="site-descr">бархатный блог об удалении волос</span>
				</div>
				<div class="header-form">
					<form action="">
						<input type="search" placeholder="Поиск по сайту">
						<input type="submit" value="" class="search-btn">
					</form>
				</div>
			</header>
		</div>
		<div class="not-found-box">
			<div class="wrapper">
				<div class="not-found">
					<img src="images/404.png" alt="" class="not-found__img">
					<p class="not-found__text title-color">Упс... Что-то пошло не так. Такой страницы не существует</p>
					<div class="what-to-do flex">
						<a href="index.html"class="grad-btn-box go-to-home">
							<span>Перейти на главную</span>
						</a>
						<a href="questions.html" type="button" class="go-to-ques-page">
							Задать вопрос
						</a>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="wrapper">
				<div class="footer-wrapper flex">
					
				
					<div class="logo-box">
						<a href="index.html">
							<img src="images/logo.svg" alt="" class="logo">
						</a>
						<p class="footer-descr">бархатный блог об удалении волос</p>
					</div>
					<div class="footer-email">
						<div class="top">
							Email для связи <span class="footer-mail">info@netvolosam.net</span>
						</div>
						<div class="copy-text">Копирование допускается только при использовании активной ссылки на этот сайт.</div>
					</div>
					<div class="menu">
						<a href="">Страница с вопросами</a>
						<a href="">Политика конфиденциальности</a>
						<a href="">Пользовательское соглашение</a>
					</div>
					<div class="form">
						<form action="">
							<input type="search" placeholder="Поиск по сайту">
							<input type="submit" value="" class="search-btn">
						</form>
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>