<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NetVolosam</title>
	<link rel="stylesheet" href="css/base/reset.css">
	<link rel="stylesheet" href="css/base/normalize.css">
	<link rel="stylesheet" href="css/base/basic.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	<div class="article-page">
		<div class="wrapper">
			<header class="header flex">
				<div class="logo-box">
					<a href="index.html">
						<img src="images/logo.svg" alt="нет волосам">
					</a>
					<span class="site-descr">бархатный блог об удалении волос</span>
				</div>
				<div class="header-form">
					<form action="">
						<input type="search" placeholder="Поиск по сайту">
						<input type="submit" value="" class="search-btn">
					</form>
				</div>
			</header>
			<div class="article-box">
				<article class="article">
					<div class="article-photo">
						<img src="images/main.png" alt="">
					</div>
					<h1>Лазерная эпиляция: изучаем нюансы когда можно делать, а когда категорически нельзя</h1>
					<p>Лазерная эпиляция – великое достижение человечества, которое высоко оценено современными девушками, а как же иначе – после проведения нескольких косметических процедур представительницы прекрасного пола забывают о нежелательной растительности на долгие годы. Удовольствие иметь гладкую кожу на лице, ногах, руках и в интимных местах стоит недешево, однако эффективность процедуры и освобождение женщин от частого бритья, шугаринга или механического удаления нежелательных волосков оправдывают свою стоимость.</p>
					<div class="contra">
						Узнайте, какие есть противопоказания и негативные последствия при лазерной эпиляции. Могут ли быть ожоги или спровоцирован рак.
					</div>
					<p>После единоразовой оплаты услуги и проведения полного курса эпиляции квалифицированным мастером у женщины пропадает необходимость затрат на избавление от лишней растительности на продолжительный срок в последующем. Однако такая популярная и экономически выгодная процедура успела обрасти некоторыми легендами, домыслами и рассказами о негативных последствиях приобретения такой желанной гладкой кожи. Стоит ли им верить? Вопрос хороший. Попробуем вникнуть в секреты проведения процедуры и выяснить, можно ли делать лазерную эпиляцию в тех или иных случаях, когда у женщины возникают сомнения относительно данного метода эпиляции.</p>
					<h2>Лазерная эпиляция и беременность</h2>
					<p>После единоразовой оплаты услуги и проведения полного курса эпиляции квалифицированным мастером у женщины пропадает необходимость затрат на избавление от лишней растительности на </p>
					<img src="images/main.png" alt="">
					<p>продолжительный срок в последующем. Однако такая популярная и экономически выгодная процедура успела обрасти некоторыми легендами, домыслами и рассказами о негативных последствиях приобретения такой желанной гладкой кожи. Стоит ли им верить? Вопрос хороший. Попробуем вникнуть в секреты проведения процедуры и выяснить, можно ли делать лазерную эпиляцию в тех или иных случаях, когда у женщины возникают сомнения относительно данного метода эпиляции.</p>
					<img src="images/main.png" alt="">
					<div class="know">
						Узнайте, какие есть противопоказания и негативные последствия при лазерной эпиляции. Могут ли быть ожоги или спровоцирован рак.
					</div>
					<p>После единоразовой оплаты услуги и проведения полного курса эпиляции квалифицированным мастером у женщины пропадает необходимость затрат на избавление от лишней растительности на продолжительный срок в последующем. Однако такая популярная и экономически выгодная процедура успела обрасти некоторыми легендами, домыслами и рассказами о негативных последствиях приобретения такой желанной гладкой кожи. Стоит ли им верить? Вопрос хороший. Попробуем вникнуть в секреты проведения процедуры и выяснить, можно ли делать лазерную эпиляцию в тех или иных случаях, когда у женщины возникают сомнения относительно данного метода эпиляции.</p>
					<h3>При беременности</h3>
					<img src="images/main.png" alt="">
					<p>После единоразовой оплаты услуги и проведения полного курса эпиляции квалифицированным мастером у женщины пропадает необходимость затрат на избавление от лишней растительности на продолжительный срок в последующем. Однако такая популярная и экономически выгодная процедура успела обрасти некоторыми легендами, домыслами и рассказами о негативных последствиях приобретения такой желанной гладкой кожи. Стоит ли им верить? Вопрос хороший. Попробуем вникнуть в секреты проведения процедуры и выяснить, можно ли делать лазерную эпиляцию в тех или иных случаях, когда у женщины возникают сомнения относительно данного метода эпиляции.</p>
					<div class="contra">
						Узнайте, какие есть противопоказания и негативные последствия при лазерной эпиляции. Могут ли быть ожоги или спровоцирован рак.
					</div>
					<img src="images/main.png" alt="">
					<p>К преимуществам относится</p>
					<ul>
						<li>очищение пор и удаление ороговевшего слоя кожи;</li>
						<li>гладкое бритье за счет среза волосков под корень;</li>
						<li>гигиеничность процедуры из-за частой смены лезвий;</li>
							<li>питание и увлажнение кожи с помощью лосьонов и пены;</li>
						
						<li>доступность — продаются повсюду;</li>
						<li>относительно невысокую цену.</li>
					</ul>
					<p>После единоразовой оплаты услуги и проведения полного курса эпиляции квалифицированным мастером у женщины пропадает необходимость затрат на избавление от лишней растительности на продолжительный срок в последующем. Однако такая популярная и экономически выгодная процедура успела обрасти некоторыми легендами, домыслами и рассказами о негативных последствиях приобретения такой желанной гладкой кожи. Стоит ли им верить? Вопрос хороший. Попробуем вникнуть в секреты проведения процедуры и выяснить, можно ли делать лазерную эпиляцию в тех или иных случаях, когда у женщины возникают сомнения относительно данного метода эпиляции.</p>
					<ol>
						<li>очищение пор и удаление ороговевшего слоя кожи;</li>
						<li>гладкое бритье за счет среза волосков под корень;</li>
						<li>гигиеничность процедуры из-за частой смены лезвий;
						<ol>
							<li>питание и увлажнение кожи с помощью лосьонов и пены;</li>
						</ol>
						</li>
						<li>доступность — продаются повсюду;</li>
						<li>относительно невысокую цену.</li>
					</ol>
				</article>
				<div class="content">

					<div class="grad-btn-box content-grad">
						<div class="content-btn">Содержание</div>
					</div>
					<div class="content-hidden d-none">
						<div class="content-close-btn"></div>
						<div class="content-title title-color">Содержание</div>
						<div class="content-menu-box">
							<ol class="content-menu">
								<li><a href="">Лазерная эпиляция и беременность</a>
								<ol>
									<li> <a href="">При беременности</a></li>
									<li> <a href="">На ранних сроках беременности</a></li>
								</ol>
								</li>
								<li><a href=""> При грудном вскармливании</a></li>
								<li><a href="">В области бикини нерожавшим: можно или нет</a></li>
								<li><a href="">Во время месячных</a></li>
								<li> <a href="">Лазерная эпиляция летом: делать или не делать</a></li>
								<li><a href=""> Совместимы ли лазерная эпиляция и родинки</a></li>
								<li><a href=""> При простуде, гриппе и острых вирусных инфекциях</a></li>
								<li><a href=""> При варикозе: можно или нет </a></li>
								<li><a href="">При псориазе</a>  </li>
								<li> <a href="">При миоме матки</a></li>
							</ol>
						</div>

					</div>

				</div>
			</div>
			<script>
				let contentBtn = document.querySelector('.content-btn')
				if(contentBtn) {
					contentBtn.addEventListener('click', (e) => {

					  let content = document.querySelector('.content-hidden');
					  content.classList.remove('d-none');
					  let close = document.querySelector('.content-close-btn');
					  close.addEventListener('click', () => content.classList.add('d-none') )
					});
				}
			</script>
			<div class="article-bottom">
				<div class="read-also-box">
					<div class="read-also__title title-color">Читайте также другие статьи</div>
					<div class="read-also flex">
						<article class="ra-article">
							<a href="article.html" class="ra-article__img-box">
								<img src="images/main.png" alt="">
							</a>
							<div class="ra-article__title">Лазерная эпиляция когда начинают выпадать волосы</div>
						</article>
						<article class="ra-article">
							<a href="article.html" class="ra-article__img-box">
								<img src="images/main.png" alt="">
							</a>
							<div class="ra-article__title">Чем отличается шугаринг от восковой эпиляции</div>
						</article>
						
					</div>
				</div>
				<div class="in-cats">
					<div class="in-cats__title title-color">Искать статью в другой категории</div>
					<a href="category.html" class="in-cat__link">Эпиляция воском</a>
					<a href="category.html" class="in-cat__link">ELOS эпиляция</a>
					<a href="category.html" class="in-cat__link">Электроэпиляция</a>
				</div>
				<div class="comment-form-box">
					<h3 class="comment-form__title">Комментарии</h3>
					<form action="">
						<div class="comment-input-box flex">							
							<input type="text" placeholder="Имя" class="comment-form__input">
							<input type="email" placeholder="Email..." class="comment-form__input">
						</div>
						<textarea rows="4" placeholder="Сообщение"></textarea>
						<div class="grad-btn-box submit-grad">						
							<input type="submit" class="comment-form__submit" value="Комментировать">
						</div>
					</form>
				</div>
				<div class="comments-box">
					<div class="commentlist">
						<div class="comment">
							<div class="comment-body">
								<div class="comment-author">
									<img src="images/icons/user.png" alt="" class="avatar">
								</div>
								<div class="comment-meta commentmetadata flex">
									<cite class="commenter-name">Денис</cite>
									<div class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora iure ipsam esse illo perspiciatis, vel similique commodi laborum cupiditate laudantium.</div>

									<time datetime="" class="comment-time">11.24.2010</time>
									<div class="reply">
										<a href="#" class="comment-reply-link">Ответить</a>
									</div>
								</div>
							</div>
							<div class="children">
								<div class="child">
									<div class="comment">
										<div class="comment-body">
											<div class="comment-author">
												<img src="images/icons/user.png" alt="" class="avatar">
											</div>
											<div class="comment-meta commentmetadata flex">
												<cite class="commenter-name">Денис</cite>
												<div class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora iure ipsam esse illo perspiciatis, vel similique commodi laborum cupiditate laudantium.</div>
												<time datetime="" class="comment-time">11.24.2010</time>
												<div class="reply">
													<a href="#" class="comment-reply-link">Ответить</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="child">
									<div class="comment">
										<div class="comment-body">
											<div class="comment-author">
												<img src="images/icons/user.png" alt="" class="avatar">
											</div>
											<div class="comment-meta commentmetadata flex">
												<cite class="commenter-name">Денис</cite>
												<div class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora iure ipsam esse illo perspiciatis, vel similique commodi laborum cupiditate laudantium.</div>
												<time datetime="" class="comment-time">11.24.2010</time>
												<div class="reply">
													<a href="#" class="comment-reply-link">Ответить</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="comment">
							<div class="comment-body">
								<div class="comment-author">
									<img src="images/icons/user.png" alt="" class="avatar">
								</div>
								<div class="comment-meta commentmetadata flex">
									<cite class="commenter-name">Денис</cite>
									<div class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora iure ipsam esse illo perspiciatis, vel similique commodi laborum cupiditate laudantium.</div>
									<time datetime="" class="comment-time">11.24.2010</time>
									<div class="reply">
										<a href="#" class="comment-reply-link">Ответить</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<footer class="footer">
			<div class="wrapper">
				<div class="footer-wrapper flex">
					
				
					<div class="logo-box">
						<a href="index.html">
							<img src="images/logo.svg" alt="" class="logo">
						</a>
						<p class="footer-descr">бархатный блог об удалении волос</p>
					</div>
					<div class="footer-email">
						<div class="top">
							Email для связи <span class="footer-mail">info@netvolosam.net</span>
						</div>
						<div class="copy-text">Копирование допускается только при использовании активной ссылки на этот сайт.</div>
					</div>
					<div class="menu">
						<a href="">Страница с вопросами</a>
						<a href="">Политика конфиденциальности</a>
						<a href="">Пользовательское соглашение</a>
					</div>
					<div class="form">
						<form action="">
							<input type="search" placeholder="Поиск по сайту">
							<input type="submit" value="" class="search-btn">
						</form>
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>