<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Статьи</title>
	<link rel="stylesheet" href="css/base/reset.css">
	<link rel="stylesheet" href="css/base/normalize.css">
	<link rel="stylesheet" href="css/base/basic.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	<div class="category-page">
		<div class="wrapper">
			<header class="header flex">
				<div class="logo-box">
					<a href="index.html">
						<img src="images/logo.svg" alt="нет волосам">
					</a>
					<span class="site-descr">бархатный блог об удалении волос</span>
				</div>
				<div class="header-form">
					<form action="">
						<input type="search" placeholder="Поиск по сайту">
						<input type="submit" value="" class="search-btn">
					</form>
				</div>
			</header>
		</div>
		<section class="categories-box">
			<div class="wrapper">
				<div class="popular-articles-box">
					<h2 class="popular-articles-title title-fz">Статьи: “Эпиляция воском”</h2>
					<div class="popular-articles flex">
						<div class="article-item">
							<a href="article.html">
								<div class="img-box">
									<img src="images/main.png" alt="">
								</div>
							</a>
							<div class="cat">
								<a href="article.html">Эпиляция воском</a>
							</div>
							<h3><a href="article.html">Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</a></h3>
							<p>Нежелательная растительность на теле является большой проблемой для женщин. Существует много способов, позволяющих избавиться от лишних...</p>
						</div>
						<div class="article-item">
							<a href="article.html">
								<div class="img-box">
									<img src="images/main.png" alt="">
								</div>
							</a>
							<div class="cat">
								<a href="article.html">Эпиляция воском</a>
							</div>
							<h3><a href="article.html">Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</a></h3>
							<p>Нежелательная растительность на теле является большой проблемой для женщин. Существует много способов, позволяющих избавиться от лишних...</p>
						</div>
						<div class="article-item">
							<a href="article.html">
								<div class="img-box">
									<img src="images/main.png" alt="">
								</div>
							</a>
							<div class="cat">
								<a href="article.html">Эпиляция воском</a>
							</div>
							<h3><a href="article.html">Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</a></h3>
							<p>Нежелательная растительность на теле является большой проблемой для женщин. Существует много способов, позволяющих избавиться от лишних...</p>
						</div>
					</div>
				</div>
				<button class="show-more-cat-articles">Показать еще статьи</button>
			</div>
		</section>

		<footer class="footer">
			<div class="wrapper">
				<div class="footer-wrapper flex">
					
				
					<div class="logo-box">
						<a href="index.html">
							<img src="images/logo.svg" alt="" class="logo">
						</a>
						<p class="footer-descr">бархатный блог об удалении волос</p>
					</div>
					<div class="footer-email">
						<div class="top">
							Email для связи <span class="footer-mail">info@netvolosam.net</span>
						</div>
						<div class="copy-text">Копирование допускается только при использовании активной ссылки на этот сайт.</div>
					</div>
					<div class="menu">
						<a href="">Страница с вопросами</a>
						<a href="">Политика конфиденциальности</a>
						<a href="">Пользовательское соглашение</a>
					</div>
					<div class="form">
						<form action="">
							<input type="search" placeholder="Поиск по сайту">
							<input type="submit" value="" class="search-btn">
						</form>
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>