<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NetVolosam</title>
	<link rel="stylesheet" href="css/base/reset.css">
	<link rel="stylesheet" href="css/base/normalize.css">
	<link rel="stylesheet" href="css/base/basic.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<div class="front-page">
		<div class="wrapper">
			<header class="header">
				<div class="logo-box">
					<a href="index.html">
						<img src="images/logo.svg" alt="нет волосам">
					</a>
					<span class="site-descr">бархатный блог об удалении волос</span>
				</div>
				<div class="header-form">
					<form action="">
						<input type="search" placeholder="Поиск по сайту">
						<input type="submit" value="" class="search-btn">
					</form>
				</div>
			</header>
			<section class="mixed">
				<div class="main-article">
					<div class="main-photo">
						<img src="images/main.png" alt="нет волосам">
					</div>
					<h1 class="main-article__title"><a href="article.html">Эпиляция и депиляция: что это и в чем отличия</a></h1>
					<p class="article-short-text">Для современной барышни процедура удаления нежелательных волос является привычной и регулярной. При этом способов удаления волосяного покрова большое множество: при помощи бритвы, кремов, воска и сахара, а также с использованием специальной аппаратуры...</p>
				</div>
				<div class="urgent-articles-box">
					<div class="title">Актуальные статьи</div>
					<div class="urgent-articles">
						<div class="urgent-article">
							<img src="images/main.png" alt="" class="urgent-article__img">
							<a href="article.html">Паста для шугаринга: основы правильного выбора</a>
						</div>

						<div class="urgent-article">
							<img src="images/main.png" alt="" class="urgent-article__img">
							<a href="article.html">Фотоэпиляторы для домашнего использования: особенности, виды и стоимость приборов</a>
						</div>

						<div class="urgent-article">
							<img src="images/main.png" alt="" class="urgent-article__img">
							<a href="article.html">Лазерная эпиляция или шугаринг: как сделать выбор между современной технологией и известным методом депиляции.</a>
						</div>

						<div class="urgent-article">
							<img src="images/main.png" alt="" class="urgent-article__img">
							<a href="article.html">Шугаринг подмышек: тонкости процедуры</a>
						</div>

						<div class="urgent-article">
							<img src="images/main.png" alt="" class="urgent-article__img">
							<a href="article.html">Как избавиться от усиков: лазерная эпиляция верхней губы</a>
						</div>
					</div>
				</div>
				<div class="compare">
					Сравнение депиляции и эпиляции <a href="" class="compare-link">читать статью</a>
				</div>
			</section>
			<div class="cats-box">
				<div class="cats-top">
					<div class="cat-item">
						<div class="cat-left">
							<div><a href="category.html" class="cat-title">Лазерная эпиляция</a></div>
							<span class="cat-articles-count">20</span>
							<span class="cat-descr">Статей по теме</span>
						</div>
						<img src="images/icons/shugaring.svg" alt="" class="cat-img">
					</div>
					<div class="cat-item">
						<div class="cat-left">
							<div><a href="category.html" class="cat-title">Лазерная эпиляция</a></div>
							<span class="cat-articles-count">20</span>
							<span class="cat-descr">Статей по теме</span>
						</div>
						<img src="images/icons/shugaring.svg" alt="" class="cat-img">
					</div>
					<div class="cat-item">
						<div class="cat-left">
							<div><a href="category.html" class="cat-title">Лазерная эпиляция</a></div>
							<span class="cat-articles-count">20</span>
							<span class="cat-descr">Статей по теме</span>
						</div>
						<img src="images/icons/shugaring.svg" alt="" class="cat-img">
					</div>
				</div>
				<div class="cats-bottom">
					<div class="cat-bottom-left">

					<div class="cat-item">
						<div class="cat-left">
							<div><a href="category.html" class="cat-title">Лазерная эпиляция</a></div>
							<span class="cat-articles-count">20</span>
							<span class="cat-descr">Статей по теме</span>
						</div>
						<img src="images/icons/shugaring.svg" alt="" class="cat-img">
					</div>
					<div class="cat-item">
						<div class="cat-left">
							<div><a href="category.html" class="cat-title">Лазерная эпиляция</a></div>
							<span class="cat-articles-count">20</span>
							<span class="cat-descr">Статей по теме</span>
						</div>
						<img src="images/icons/shugaring.svg" alt="" class="cat-img">
					</div>
					<div class="cat-item">
						<div class="cat-left">
							<div><a href="category.html" class="cat-title">Лазерная эпиляция</a></div>
							<span class="cat-articles-count">20</span>
							<span class="cat-descr">Статей по теме</span>
						</div>
						<img src="images/icons/shugaring.svg" alt="" class="cat-img">
					</div>
					<div class="cat-item">
						<div class="cat-left">
							<div><a href="category.html" class="cat-title">Лазерная эпиляция</a></div>
							<span class="cat-articles-count">20</span>
							<span class="cat-descr">Статей по теме</span>
						</div>
						<img src="images/icons/shugaring.svg" alt="" class="cat-img">
					</div>
					<div class="cat-item">
						<div class="cat-left">
							<div><a href="category.html" class="cat-title">Лазерная эпиляция</a></div>
							<span class="cat-articles-count">20</span>
							<span class="cat-descr">Статей по теме</span>
						</div>
						<img src="images/icons/shugaring.svg" alt="" class="cat-img">
					</div>
					<div class="cat-item">
						<div class="cat-left">
							<div><a href="category.html" class="cat-title">Лазерная эпиляция</a></div>
							<span class="cat-articles-count">20</span>
							<span class="cat-descr">Статей по теме</span>
						</div>
						<img src="images/icons/shugaring.svg" alt="" class="cat-img">
					</div>
					</div>
					<div class="cat-extra-img">
						<img src="images/legs.png" alt="">
					</div>
				</div>
			</div>
			<section class="popular-articles-box">
				<h2 class="popular-articles-title">Популярные статьи</h2>
				<div class="popular-articles">
					<div class="article-item">
						<div class="img-box">
							<img src="images/main.png" alt="">
						</div>
						<div class="cat">
							Эпиляция воском
						</div>
						<h3>Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</h3>
						<p>Нежелательная растительность на теле является большой проблемой для женщин. Существует много способов, позволяющих избавиться от лишних...</p>
					</div>
					<div class="article-item">
						<div class="img-box">
							<img src="images/main.png" alt="">
						</div>
						<div class="cat">
							Эпиляция воском
						</div>
						<h3>Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</h3>
						<p>Нежелательная растительность на теле является большой проблемой для женщин. Существует много способов, позволяющих избавиться от лишних...</p>
					</div>
					<div class="article-item">
						<div class="img-box">
							<img src="images/main.png" alt="">
						</div>
						<div class="cat">
							Эпиляция воском
						</div>
						<h3>Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</h3>
						<p>Нежелательная растительность на теле является большой проблемой для женщин. Существует много способов, позволяющих избавиться от лишних...</p>
					</div>
				</div>
			</section>
			<section class="ques-box">
				<div class="ques-left">
					<img src="images/fp-ques.png" alt="">
				</div>
				<div class="ques-right">
					<h2>Задайте свой вопрос</h2>
					<p>
						Нашим экспертам или посмотреть какие вопросы задавали другие пользователи
					</p>
					<button class="show-questions">Посмотреть вопросы</button>
				</div>
			</section>
			<section class="all-articles-box">
				<h2>Все статьи блога</h2>
				<div class="all-articles">
					<div class="article-item">
						<div class="img-box">
							<img src="images/main.png" alt="">
						</div>
						<div class="cat">
							Эпиляция воском
						</div>
						<h3>Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</h3>
					</div>
					<div class="article-item">
						<div class="img-box">
							<img src="images/main.png" alt="">
						</div>
						<div class="cat">
							Эпиляция воском
						</div>
						<h3>Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</h3>
					</div>
					<div class="article-item">
						<div class="img-box">
							<img src="images/main.png" alt="">
						</div>
						<div class="cat">
							Эпиляция воском
						</div>
						<h3>Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</h3>
					</div>
					<div class="article-item">
						<div class="img-box">
							<img src="images/main.png" alt="">
						</div>
						<div class="cat">
							Эпиляция воском
						</div>
						<h3>Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</h3>
					</div>
					<div class="article-item">
						<div class="img-box">
							<img src="images/main.png" alt="">
						</div>
						<div class="cat">
							Эпиляция воском
						</div>
						<h3>Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</h3>
					</div>
					<div class="article-item">
						<div class="img-box">
							<img src="images/main.png" alt="">
						</div>
						<div class="cat">
							Эпиляция воском
						</div>
						<h3>Набор для депиляции воском: лучшее решение для удаления волос в домашних условиях</h3>
					</div>
				</div>
				<button class="show-more-articles">Посмотреть еще статьи</button>
			</section>
			<footer class="footer">
				<div class="logo-box">
					<a href="index.html">
						<img src="images/logo.svg" alt="" class="logo">
					</a>
					<p class="footer-descr">бархатный блог об удалении волос</p>
				</div>
				<div class="footer-email">
					<div class="top">
						Email для связи <a href="mailto:info@netvolosam.net" class="footer-mail"></a>
					</div>
					<div>Копирование допускается только при использовании активной ссылки на этот сайт.</div>
				</div>
				<div class="menu">
					<a href="">Страница с вопросами</a>
					<a href="">Политика конфиденциальности</a>
					<a href="">Пользовательское соглашение</a>
				</div>
				<div class="form">
					<form action="">
						<input type="search" placeholder="Поиск по сайту">
						<input type="submit" value="" class="search-btn">
					</form>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>