<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Вопрос-ответ </title>
	<link rel="stylesheet" href="css/base/reset.css">
	<link rel="stylesheet" href="css/base/normalize.css">
	<link rel="stylesheet" href="css/base/basic.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	<div class="questions-page">
		<div class="wrapper">
			<header class="header flex">
				<div class="logo-box">
					<a href="index.html">
						<img src="images/logo.svg" alt="нет волосам">
					</a>
					<span class="site-descr">бархатный блог об удалении волос</span>
				</div>
				<div class="header-form">
					<form action="">
						<input type="search" placeholder="Поиск по сайту">
						<input type="submit" value="" class="search-btn">
					</form>
				</div>
			</header>
		</div>
		<section class="banner-box">
			<div class="wrapper">
				<div class="banner">
					<h1 class="banner__title title-fz">Вы спрашиваете - мы отвечаем</h1>
					<p class="banner__text">Здесь мы собрали вопросы от наших пользователей, если вы не нашли свой вопрос, вы всегда его можете написать</p>
				</div>
			</div>
		</section>
		<div class="forms">
			<div class="wrapper">
				<form action="" class="ques-search-form">
					<div class="grad-btn-box ques-search-btn">
						<input type="search" placeholder="Поиск по вопросам">
					</div>
					<input type="submit" value="" class="ques-search__submit">
				</form>
				<form action="" class="ask-ques-form">
					<input type="email" placeholder="Введите ваш Email..." class="ask-ques-email">
					<input type="text" placeholder="Краткий вопрос по существу..." class="ask-ques-title">
					<textarea rows="4" placeholder="Описание вопроса, если оно требуется" class="ask-ques-content"></textarea>
					<div class="grad-btn-box ques-answer-btn">
						<input type="submit" value="Задать вопрос" class="ask-ques-submit">
					</div>
					<div class="ques-answer grad-btn-box">
						<div>Ваш вопрос отправлен, мы ответим в ближайщее время и продублируем ответ на Email</div>
					</div>
				</form>
			</div>
		</div>
		<section class="ques-link-box">
			<div class="wrapper">
				<div class="questions-box">
					<a href="single-ques.html" class="ques-link">Чем отличается эпиляция от депиляции?</a>
					<a href="single-ques.html" class="ques-link">Можно ли использовать лазерную эпиляцию во время грудного вскармливания?</a>
					<a href="single-ques.html" class="ques-link">Чем отличается эпиляция от депиляции?</a>
					<a href="single-ques.html" class="ques-link">Чем отличается эпиляция от депиляции?</a>
					<a href="single-ques.html" class="ques-link">Можно ли использовать лазерную эпиляцию во время грудного вскармливания?</a>
					<a href="single-ques.html" class="ques-link">Чем отличается эпиляция от депиляции?</a>
					<a href="single-ques.html" class="ques-link">Чем отличается эпиляция от депиляции?</a>
					<a href="single-ques.html" class="ques-link">Чем отличается эпиляция от депиляции?</a>
				</div>
				<button class="show-more-ques">Посмотреть еще вопросы</button>
			</div>
		</section>
		<footer class="footer">
			<div class="wrapper">
				<div class="footer-wrapper flex">
					
				
					<div class="logo-box">
						<a href="index.html">
							<img src="images/logo.svg" alt="" class="logo">
						</a>
						<p class="footer-descr">бархатный блог об удалении волос</p>
					</div>
					<div class="footer-email">
						<div class="top">
							Email для связи <span class="footer-mail">info@netvolosam.net</span>
						</div>
						<div class="copy-text">Копирование допускается только при использовании активной ссылки на этот сайт.</div>
					</div>
					<div class="menu">
						<a href="">Страница с вопросами</a>
						<a href="">Политика конфиденциальности</a>
						<a href="">Пользовательское соглашение</a>
					</div>
					<div class="form">
						<form action="">
							<input type="search" placeholder="Поиск по сайту">
							<input type="submit" value="" class="search-btn">
						</form>
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>